HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
postgresDB/postmaster.pid
postgresDB/pg_stat_tmp/**
postgresDB/pg_xact/0000
postgresDB/pg_wal/000000010000000000000001
postgresDB/pg_stat_tmp/global.stat
postgresDB/pg_stat_tmp/db_16384.stat
postgresDB/pg_stat_tmp/db_13395.stat
postgresDB/pg_stat_tmp/db_0.stat
postgresDB/pg_stat/global.stat
postgresDB/pg_stat/db_16384.stat
postgresDB/pg_stat/db_13395.stat
postgresDB/pg_stat/db_0.stat
postgresDB/global/pg_internal.init
postgresDB/global/pg_control
postgresDB/base/16384/pg_internal.init
postgresDB/base/16384/24974
postgresDB/base/16384/16644
postgresDB/base/16384/16638
postgresDB/base/16384/16635
postgresDB/base/16384/16548
postgresDB/base/16384/16438
postgresDB/base/13395/pg_internal.init
postgresDB/pg_stat_tmp/db_0.stat
postgresDB/pg_stat_tmp/global.stat
postgresDB/postmaster.pid
postgresDB/pg_wal/000000010000000000000001
postgresDB/pg_stat_tmp/global.stat
postgresDB/pg_stat_tmp/db_16384.stat
postgresDB/pg_stat_tmp/db_13395.stat
postgresDB/pg_stat_tmp/db_0.stat
postgresDB/global/pg_internal.init
postgresDB/global/pg_control
postgresDB/base/16384/pg_internal.init
postgresDB/base/13395/pg_internal.init
postgresDB/pg_stat_tmp/*
postgresDB/pg_stat_tmp/db_0.stat
postgresDB/pg_stat_tmp/db_13395.stat
postgresDB/pg_stat_tmp/db_16384.stat
postgresDB/pg_stat_tmp/global.stat
postgresDB/postmaster.pid
postgresDB/base/13395/pg_internal.init
postgresDB/base/16384/1259
postgresDB/base/16384/2696
postgresDB/base/16384/2619
postgresDB/base/16384/pg_internal.init
postgresDB/base/16384/34106
postgresDB/global/pg_control
postgresDB/global/pg_internal.init
postgresDB/pg_stat_tmp/db_0.stat
postgresDB/pg_stat_tmp/db_13395.stat
postgresDB/pg_stat_tmp/db_16384.stat
postgresDB/pg_stat_tmp/global.stat
postgresDB/pg_wal/000000010000000000000002
postgresDB/pg_xact/0000
